Repository innovationacademy-kr/Cabi, pull requests merged in 2022-09, with the labels that each got.

#182 refactor: axios
  frontend/src/component/Menu.tsx
  frontend/src/modal/ExtensionModal.tsx
  frontend/src/modal/LentModal.tsx
  frontend/src/modal/PasswordModal.tsx
  frontend/src/modal/ReturnModal.tsx
  frontend/src/network/axios/axios.custom.ts
  frontend/src/network/axios/axios.instance.ts
  frontend/src/pages/Lent.tsx
  frontend/src/pages/Return.tsx
Labels: refactoring, frontend

#183 refactor: redux
  frontend/src/component/Menu.tsx
  frontend/src/main.tsx
  frontend/src/pages/Lent.tsx
  frontend/src/redux/hooks.ts
  frontend/src/redux/slices/cabinetSlice.ts
  frontend/src/redux/slices/lentSlice.ts
  frontend/src/redux/slices/userSlice.ts
  frontend/src/redux/store.ts
Labels: refactoring, frontend

#186 refactor: remove any type props
  frontend/src/component/CabinetBox.tsx
  frontend/src/component/Carousel.tsx
  frontend/src/component/Location.tsx
  frontend/src/component/Menu.tsx
  frontend/src/component/map/SeromFloor.tsx
  frontend/src/component/map/SeromSecondFloor.tsx
  frontend/src/modal/ContentsModal.tsx
  frontend/src/modal/ExtensionModal.tsx
  frontend/src/modal/LentModal.tsx
  frontend/src/modal/PasswordModal.tsx
  frontend/src/modal/ReturnModal.tsx
  frontend/src/pages/Lent.tsx
  frontend/src/pages/Return.tsx
  frontend/src/redux/slices/cabinetSlice.ts
  frontend/src/redux/slices/lentSlice.ts
  frontend/src/redux/slices/userSlice.ts
Labels: refactoring, frontend

#208 ✨Connect Route && Rename Template and Page
  frontend_v3/package-lock.json
  frontend_v3/package.json
  frontend_v3/src/App.tsx
  frontend_v3/src/components/templates/CabinetTemplate.tsx
  frontend_v3/src/components/templates/Footer.tsx
  frontend_v3/src/components/templates/FooterTemplate.tsx
  frontend_v3/src/components/templates/LentCabinet.tsx
  frontend_v3/src/components/templates/LentInfo.tsx
  frontend_v3/src/components/templates/LentTemplate.tsx
  frontend_v3/src/components/templates/Login.tsx
  frontend_v3/src/components/templates/LoginTemplate.tsx
  frontend_v3/src/pages/Lent.tsx
  frontend_v3/src/pages/Login.tsx
  frontend_v3/src/pages/Main.tsx
Labels: frontend, v3

#213 블랙홀에 빠진 유저 예외 처리 완료
  backend/src/blackhole/blackhole.service.ts
  backend/src/blackhole/repository/blackhole.repository.ts
  backend/src/blackhole/repository/rawquery.blackhole.repository.ts
Labels: enhancement, backend

#212 fe_v3/Home button
  frontend_v3/.eslintrc.cjs
  frontend_v3/package.json
  frontend_v3/src/components/atoms/buttons/HomeButton.tsx
  frontend_v3/src/img/cabinet.ico
  frontend_v3/src/img/cabinet.jpg
  frontend_v3/src/img/cabinet.png
  frontend_v3/src/stories/Button.stories.tsx
  frontend_v3/src/stories/Button.tsx
  frontend_v3/src/stories/Header.stories.tsx
  frontend_v3/src/stories/Header.tsx
  frontend_v3/src/stories/HomeButton.stories.tsx
  frontend_v3/src/stories/Introduction.stories.mdx
  frontend_v3/src/stories/Page.stories.tsx
  frontend_v3/src/stories/Page.tsx
  frontend_v3/src/stories/button.css
  frontend_v3/src/stories/header.css
  frontend_v3/src/stories/page.css
  frontend_v3/yarn.lock
Labels: frontend, v3

#210 ✨ Apply FooterTemplate
  frontend_v3/src/App.tsx
  frontend_v3/src/components/templates/FooterTemplate.tsx
  frontend_v3/src/pages/Login.tsx
  frontend_v3/src/styles/GlobalStyle.tsx
Labels: frontend, v3

#220 fe_v3/Login page
  frontend_v3/img/logo.png
  frontend_v3/src/components/atoms/buttons/LoginButton.tsx
  frontend_v3/src/components/templates/LoginTemplate.tsx
  frontend_v3/src/pages/Login.tsx
  frontend_v3/src/styles/GlobalStyle.tsx
Labels: frontend, v3

#218 fe_v3/Question Button
  frontend_v3/src/components/atoms/buttons/QuestionTestModal.tsx
  frontend_v3/src/components/atoms/buttons/QustionButton.tsx
Labels: frontend, v3

#222 fe_v3/Edit Button
  frontend_v3/src/components/atoms/buttons/EditButton.tsx
  frontend_v3/src/components/atoms/buttons/QustionButton.tsx
  frontend_v3/src/components/atoms/inputs/TestTextField.tsx
  frontend_v3/src/components/atoms/modals/QuestionTestModal.tsx
Labels: frontend, v3

#223 fe_v3: return button
  frontend_v3/src/components/atoms/buttons/ReturnButton.tsx
Labels: frontend

#229 fe_v3/Floor Button
  frontend_v3/src/components/atoms/buttons/FloorButton.tsx
Labels: frontend, v3

#224 fe_v3/BuildingButton
  frontend_v3/src/components/atoms/buttons/BuildingButton.tsx
Labels: frontend, v3

#232 fe_v3/Guide Modal and Guide Box
  frontend_v3/src/components/atoms/modals/GuideBox.tsx
  frontend_v3/src/components/atoms/modals/GuideModal.tsx
Labels: frontend, v3

#235 fe_v3/Lent Box
  frontend_v3/src/components/atoms/modals/GuideModal.tsx
  frontend_v3/src/components/atoms/modals/LentBox.tsx
  frontend_v3/src/themes/muiCustomPaletteTheme.tsx
Labels: frontend, v3

#237 fe_v3/guide box
  frontend_v3/src/components/atoms/modals/GuideBox.tsx
Labels: frontend, v3

#236 fe_v3: ReturnModal
  frontend_v3/package-lock.json
  frontend_v3/src/components/atoms/modals/ReturnBox.tsx
  frontend_v3/yarn.lock
Labels: frontend, v3

#245 Fe v3/Edit Button Update
  frontend_v3/src/components/atoms/buttons/EditButton.tsx
  frontend_v3/src/components/atoms/inputs/TestTextField.tsx
  frontend_v3/src/network/axios/axios.custom.ts
Labels: frontend, v3

#269 Content Template
  frontend_v3/src/components/atoms/buttons/LoginButton.tsx
  frontend_v3/src/components/atoms/buttons/ReturnButton.tsx
  frontend_v3/src/components/organisms/LentInfo.tsx
  frontend_v3/src/components/templates/CabinetTemplate.tsx
  frontend_v3/src/components/templates/ContentTemplate.tsx
  frontend_v3/src/components/templates/LentTemplate.tsx
  frontend_v3/src/components/templates/LoginTemplate.tsx
  frontend_v3/src/index.css
  frontend_v3/src/network/axios/axios.custom.ts
  frontend_v3/src/pages/Lent.tsx
  frontend_v3/src/pages/Login.tsx
  frontend_v3/src/pages/Main.tsx
  frontend_v3/src/styles/GlobalStyle.tsx
Labels: frontend, v3

#274 fe_v3/cabinetAction
  frontend_v3/src/components/atoms/buttons/FloorButton.tsx
  frontend_v3/src/components/atoms/buttons/LocationButton.tsx
  frontend_v3/src/components/templates/CabinetTemplate.tsx
  frontend_v3/src/main.tsx
  frontend_v3/src/network/axios/axios.custom.ts
Labels: frontend, v3

#292 Be v3/lent
  backend/src/v3/lent/lent.controller.ts
  backend/src/v3/lent/lent.module.ts
  backend/src/v3/lent/lent.service.ts
  backend/src/v3/lent/repository/lent.repository.interface.ts
  backend/src/v3/lent/repository/lent.repository.ts
Labels: backend, v3

#295 fix: carousel size
  frontend_v3/src/components/atoms/buttons/SlideButton.tsx
  frontend_v3/src/components/organisms/Carousel.tsx
  frontend_v3/src/components/organisms/Slide.tsx
  frontend_v3/src/components/organisms/SlideContainer.tsx
  frontend_v3/src/components/templates/CabinetTemplate.tsx
  frontend_v3/src/mock/CabinetBoxButton.mock.ts
Labels: bug, frontend, v3

#352 fe_v3/LentAlertMessage
  frontend_v3/src/components/atoms/modals/LentBox.tsx
Labels: frontend, v3

#353 fe_v3/sharedCabinetMessage
  frontend_v3/src/components/atoms/modals/LentBox.tsx
Labels: frontend, v3

#355 fe_v3/GoogleAnalytics
  frontend_v3/src/App.tsx
  frontend_v3/src/network/ga/gaTracker.ts
Labels: frontend

#363 :zap: set expire time when cabinet is FULL #330
  backend/src/main.ts
  backend/src/v3/lent/lent.controller.ts
  backend/src/v3/lent/lent.service.ts
  backend/src/v3/lent/repository/lent.repository.interface.ts
  backend/src/v3/lent/repository/lent.repository.ts
Labels: enhancement, backend, v3
