Repository innovationacademy-kr/Cabi, pull requests merged in 2022-11, with the labels that each got.

#552 ENHANCEMENT: 정식 서비스 오픈 준비
  frontend_v3/src/components/atoms/buttons/MenuButton.tsx
  frontend_v3/src/components/organisms/LentInfo.tsx
Labels: enhancement, frontend, v3

#558 fix: #557 env
  backend/.env.sample
  backend/src/config/configuration.ts
  backend/src/config/typeorm.config.ts
  backend/src/main.ts
  backend/src/utils/email.sender.component.ts
Labels: enhancement, refactoring, backend

#555 swagger와 트랜잭션 관련 작은 수정사항
  backend/src/ban/ban.service.ts
  backend/src/lent/lent.component.ts
  backend/src/lent/lent.controller.ts
  backend/src/lent/lent.service.ts
  backend/src/lent/repository/lent.repository.ts
Labels: bug, backend

#566 프론트앤드 정적파일을 백앤드 소스폴더내 deploy에서 배포하도록 변경
  .gitignore
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/configuration.ts
Labels: backend

#565 V2 관련 미사용 코드 제거 #563
  backend/database/42cabi_v2_test.sql
  backend/database/cabinet_data_v2.sql
  backend/database/init.sh
  backend/docker-compose.yaml
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/cabinet/cabinet.info.controller.ts
  backend/src/config/configuration.ts
  backend/src/event/dto/event.info.dto.ts
  backend/src/event/event.controller.ts
  backend/src/event/event.module.ts
  backend/src/event/evnet.service.ts
  backend/src/event/repository/IEventRepository.ts
  backend/src/event/repository/rawquery-event.repository.ts
  backend/src/lent/lent.controller.ts
  backend/src/main.ts
  backend/src/user/my.info.controller.ts
  backend/src/user/my.lent.info.controller.ts
Labels: refactoring, backend

#574 원격 저장소로 push 될 때 LF로 저장되도록 .gitattributes 수정 #573
  .gitattributes
  backend/package.json
Labels: bug, 환경세팅

#576 dev와 local에서는 밴 해제 API를 사용가능하도록 수정
  backend/src/app.module.ts
  frontend_v3/src/components/atoms/buttons/MenuButton.tsx
Labels: enhancement, frontend, backend
