Repository innovationacademy-kr/Cabi, pull requests merged in 2022-10, with the labels that each got.

#364 Be v3/lent
  backend/database/42cabi_v3_test.sql
  backend/src/entities/cabinet.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/enums/user.state.type.enum.ts
  backend/src/v3/ban/ban.module.ts
  backend/src/v3/ban/ban.service.ts
  backend/src/v3/ban/guard/ban-check.guard.ts
  backend/src/v3/ban/repository/ban.repository.interface.ts
  backend/src/v3/ban/repository/ban.repository.ts
  backend/src/v3/lent/lent.mock.controller.ts
  backend/src/v3/lent/lent.module.ts
  backend/src/v3/lent/lent.service.ts
  backend/src/v3/lent/repository/lent.repository.interface.ts
  backend/src/v3/lent/repository/lent.repository.ts
  backend/src/v3/user/repository/user.repository.interface.ts
  backend/src/v3/user/repository/user.repository.ts
  backend/src/v3/user/user.module.ts
  backend/src/v3/user/user.service.ts
Labels: enhancement, backend, v3

#384 [Be v3/lent] Lent 모듈 기능 개선
  .gitignore
  backend/Dockerfile
  backend/database/42cabi_v3_test.sql
  backend/database/init.sh
  backend/src/dto/cabinet.dto.ts
  backend/src/enums/cabinet.status.type.enum.ts
  backend/src/v3/ban/ban.service.ts
  backend/src/v3/cabinet/cabinet.info.service.ts
  backend/src/v3/cabinet/repository/cabinet.info.repository.ts
  backend/src/v3/cabinet/repository/interface.cabinet.info.repository.ts
  backend/src/v3/lent/lent.component.ts
  backend/src/v3/lent/lent.mock.controller.ts
  backend/src/v3/lent/lent.module.ts
  backend/src/v3/lent/lent.service.ts
  backend/src/v3/lent/repository/lent.repository.interface.ts
  backend/src/v3/lent/repository/lent.repository.ts
  backend/src/v3/user/my.info.controller.ts
  backend/src/v3/user/my.lent.info.controller.ts
  frontend_v3/src/components/atoms/buttons/CabinetBoxButton.tsx
  frontend_v3/src/components/organisms/Slide.tsx
  frontend_v3/src/mock/CabinetBoxButton.mock.ts
  frontend_v3/src/types/enum/cabinet.status.enum.ts
Labels: enhancement, frontend, backend, v3

#398 :bug: fix bug remain title, memo when return #386
  backend/src/v3/lent/lent.component.ts
  backend/src/v3/lent/lent.service.ts
  backend/src/v3/lent/repository/lent.repository.interface.ts
  backend/src/v3/lent/repository/lent.repository.ts
Labels: bug, backend, v3

#404 fe_v3/GlobalstyleAndDarkmodeFixed
  frontend_v3/index.html
  frontend_v3/src/components/atoms/buttons/CheckButton.tsx
  frontend_v3/src/main.tsx
  frontend_v3/src/themes/muiCustomPaletteTheme.tsx
  frontend_v3/src/themes/muiCustomTheme.tsx
Labels: bug, frontend, v3

#410 Be v3/lent
  backend/package-lock.json
  backend/package.json
  backend/src/blackhole/blackhole.service.ts
  backend/src/v3/ban/ban.service.ts
  backend/src/v3/ban/repository/ban.repository.interface.ts
  backend/src/v3/ban/repository/ban.repository.ts
  backend/src/v3/cabinet/cabinet.info.controller.ts
  backend/src/v3/cabinet/cabinet.info.service.ts
  backend/src/v3/lent/lent.component.ts
  backend/src/v3/lent/lent.controller.ts
  backend/src/v3/lent/lent.mock.controller.ts
  backend/src/v3/lent/lent.service.ts
  backend/src/v3/lent/repository/lent.repository.interface.ts
  backend/src/v3/lent/repository/lent.repository.ts
  backend/src/v3/user/repository/user.repository.interface.ts
  backend/src/v3/user/repository/user.repository.ts
  backend/src/v3/user/user.service.ts
  frontend_v3/src/pages/Main.tsx
Labels: backend, v3

#425 Transactional Decorator 추가
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/v3/ban/ban.service.ts
  backend/src/v3/ban/repository/ban.repository.interface.ts
  backend/src/v3/ban/repository/ban.repository.ts
  backend/src/v3/cabinet/cabinet.info.service.ts
  backend/src/v3/cabinet/repository/cabinet.info.repository.ts
  backend/src/v3/cabinet/repository/interface.cabinet.info.repository.ts
  backend/src/v3/lent/lent.component.ts
  backend/src/v3/lent/lent.mock.controller.ts
  backend/src/v3/lent/lent.service.ts
  backend/src/v3/lent/repository/lent.repository.interface.ts
  backend/src/v3/lent/repository/lent.repository.ts
  backend/src/v3/user/repository/user.repository.interface.ts
  backend/src/v3/user/repository/user.repository.ts
  backend/src/v3/user/user.service.ts
  backend/src/v3/utils/expired.checker.component.ts
Labels: enhancement, backend, v3

#429 fix: #428 CD Script
  .github/workflows/cicd.yaml
Labels: bug

#423 fe_v3/PrivateTitleUserInfo
  frontend_v3/src/components/atoms/inputs/LentTextField.tsx
  frontend_v3/src/components/organisms/LentInfo.tsx
Labels: frontend, v3

#437 fe_v3/LentTextFieldFixed
  frontend_v3/src/components/atoms/buttons/EditButton.tsx
  frontend_v3/src/components/atoms/inputs/LentTextField.tsx
Labels: frontend, v3

#446 사물함 초기정보 가져올 때 로딩 오래걸리는 문제 해결
  backend/src/cabinet/repository/cabinet.info.repository.ts
Labels: bug, backend, v3

#447 fe_v3/ReturnButtonFixed
  frontend_v3/src/components/atoms/buttons/ReturnButton.tsx
  frontend_v3/src/components/atoms/modals/ReturnBox.tsx
  frontend_v3/src/components/organisms/LentInfo.tsx
  frontend_v3/src/components/templates/LentTemplate.tsx
Labels: frontend, v3

#457 Be_v3/banguard
  backend/src/ban/ban.module.ts
  backend/src/ban/ban.service.ts
  backend/src/ban/guard/ban-check.guard.ts
  backend/src/ban/repository/ban.repository.interface.ts
  backend/src/ban/repository/ban.repository.ts
Labels: enhancement, backend, v3

#459 Fe v3/title name ico
  frontend_v3/index.html
Labels: frontend

#449 점검 안내 페이지 추가
  frontend/src/App.tsx
  frontend/src/pages/MaintenancePage.tsx
  frontend/src/pages/maintenancePage.css
Labels: v2

#445 Blackhole
  backend/database/42cabi_v3_test.sql
  backend/database/init.sh
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/42/ft.strategy.ts
  backend/src/auth/auth.service.ts
  backend/src/blackhole/blackhole.component.ts
  backend/src/blackhole/blackhole.module.ts
  backend/src/blackhole/blackhole.service.ts
  backend/src/blackhole/repository/blackhole.repository.ts
  backend/src/blackhole/repository/rawquery.blackhole.repository.ts
  backend/src/dto/user.session.dto.ts
  backend/src/entities/ban.log.entity.ts
  backend/src/entities/cabinet.entity.ts
  backend/src/entities/lent.log.entity.ts
  backend/src/entities/user.entity.ts
  backend/src/lent/lent.component.ts
  backend/src/lent/lent.mock.controller.ts
  backend/src/lent/lent.service.ts
  backend/src/lent/repository/lent.repository.interface.ts
  backend/src/lent/repository/lent.repository.ts
  backend/src/user/repository/user.repository.interface.ts
  backend/src/user/repository/user.repository.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend, v3

#451 fe_v3/ReturnBoxLentDate
  frontend_v3/src/components/atoms/inputs/LentTextField.tsx
  frontend_v3/src/components/atoms/modals/ReturnBox.tsx
  frontend_v3/src/components/organisms/LentInfo.tsx
  frontend_v3/src/components/templates/LentTemplate.tsx
Labels: frontend, v3

#453 fe_v3/sectionName
  frontend_v3/src/components/atoms/buttons/SectionButton.tsx
  frontend_v3/src/components/atoms/buttons/SectionNameButton.tsx
  frontend_v3/src/components/organisms/Carousel.tsx
Labels: frontend

#454 fe_v3/MenuButtonNavigate
  frontend_v3/src/components/atoms/buttons/MenuButton.tsx
Labels: frontend

#463 :zap: prevent run blackhole module when local #443
  backend/src/auth/auth.service.ts
  backend/src/blackhole/blackhole.service.ts
Labels: backend, v3

#487 FIX: css for cluster mac and galaxy fold
  frontend/src/App.tsx
  frontend/src/pages/MaintenancePage.tsx
  frontend/src/pages/maintenancePage.css
  frontend_v3/src/components/atoms/buttons/CabinetBoxButton.tsx
  frontend_v3/src/components/atoms/buttons/MapButton.tsx
  frontend_v3/src/components/atoms/inputs/LentTextField.tsx
  frontend_v3/src/components/atoms/modals/GuideBox.tsx
  frontend_v3/src/components/atoms/modals/LentBox.tsx
  frontend_v3/src/components/organisms/Carousel.tsx
  frontend_v3/src/components/organisms/SectionMap.tsx
  frontend_v3/src/components/organisms/Slide.tsx
  frontend_v3/src/components/organisms/SlideContainer.tsx
  frontend_v3/src/components/templates/ContentTemplate.tsx
  frontend_v3/src/index.css
  frontend_v3/src/styles/GlobalStyle.tsx
Labels: bug, enhancement, frontend, v3

#491 ENHANCEMENT: Render my lent info after get response
  frontend_v3/src/components/templates/LentTemplate.tsx
Labels: enhancement, frontend, v3

#494 FEAT: add menu for delete panelty for beta test
  frontend_v3/src/components/atoms/buttons/MenuButton.tsx
Labels: enhancement, frontend, v3

#499 ENHANCEMENT: 대여 정책과 관련된 기간 환경변수로 관리
  frontend_v3/.gitignore
  frontend_v3/src/components/atoms/modals/GuideBox.tsx
  frontend_v3/src/components/atoms/modals/LentBox.tsx
  frontend_v3/src/components/atoms/modals/LentModal.tsx
  frontend_v3/src/components/atoms/modals/QuestionTestModal.tsx
  frontend_v3/src/components/atoms/modals/ReturnBox.tsx
Labels: enhancement, frontend, v3

#501 :zap: 환경변수를 이용하여 상황에 맞게 V2, V3를 구동할 수 있도록 수정 #500
  backend/src/app.module.ts
  backend/src/config/configuration.ts
Labels: enhancement, backend

#503 FIX: 점검 페이지 문구, 노션 링크 수정
  frontend/src/component/Footer.tsx
  frontend/src/pages/MaintenancePage.tsx
Labels: frontend, v3

#516 FIX: 401 response 처리
  frontend_v3/src/network/axios/axios.instance.ts
  frontend_v3/src/network/react-cookie/cookie.ts
Labels: enhancement, frontend, v3

#524 블랙홀 모듈 최종 개선안 #517
  backend/src/auth/42/ft.strategy.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/repository/auth.repository.interface.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/blackhole/blackhole.component.ts
  backend/src/blackhole/blackhole.service.ts
  backend/src/user/repository/user.repository.interface.ts
  backend/src/user/repository/user.repository.ts
  backend/src/user/user.service.ts
Labels: enhancement, backend, v3

#523 :sparkles: add custom error message when throw unauthorizedException …
  backend/src/auth/jwt/guard/jwtauth.guard.ts
  frontend_v3/src/network/axios/axios.instance.ts
Labels: enhancement, frontend, backend, v3

#526 Enhance/transaction
  backend/src/ban/ban.service.ts
  backend/src/ban/repository/ban.repository.ts
  backend/src/blackhole/blackhole.service.ts
  backend/src/lent/lent.component.ts
  backend/src/lent/lent.service.ts
  backend/src/lent/repository/lent.repository.ts
  backend/src/user/repository/user.repository.ts
  backend/src/user/user.service.ts
  backend/src/utils/expired.checker.component.ts
Labels: enhancement, backend, v3

#527 Add: cabinet status_note field #509
  backend/database/42cabi_v3_test.sql
  backend/src/app.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt/guard/jwtauth.guard.ts
  backend/src/auth/repository/auth.repository.ts
  backend/src/ban/ban.service.ts
  backend/src/ban/guard/ban-check.guard.ts
  backend/src/blackhole/blackhole.service.ts
  backend/src/cabinet/cabinet.info.service.ts
  backend/src/cabinet/repository/cabinet.info.repository.ts
  backend/src/dto/simple.cabinet.data.dto.ts
  backend/src/entities/cabinet.entity.ts
  backend/src/lent/lent.component.ts
  backend/src/lent/lent.mock.controller.ts
  backend/src/lent/lent.service.ts
  backend/src/lent/repository/lent.repository.ts
  backend/src/user/repository/user.repository.interface.ts
  backend/src/user/repository/user.repository.ts
  backend/src/user/user.service.ts
  backend/src/utils/email.sender.component.ts
  backend/src/utils/expired.checker.component.ts
Labels: backend, v3

#536 :bug: fix deadlock problem when return cabinet at the same time #532
  backend/src/dto/return.cabinet.data.dto.ts
  backend/src/lent/lent.component.ts
  backend/src/lent/lent.service.ts
  backend/src/lent/repository/lent.repository.interface.ts
  backend/src/lent/repository/lent.repository.ts
Labels: bug, backend, v3

#540 Hotfix #539
  backend/src/dto/lent.cabinet.data.dto.ts
  backend/src/enums/lent.exception.enum.ts
  backend/src/lent/lent.component.ts
  backend/src/lent/lent.service.ts
  backend/src/lent/repository/lent.repository.interface.ts
  backend/src/lent/repository/lent.repository.ts
Labels: bug, backend, v3
